<!--TABLE SEARCH-->
<div class="large-12 table-search">
  <div class="large-2 large-push-7" style="display:flex;width: 40%;">
    <input type="text" style="height: 40px;" class="search-field" [(ngModel)]="searchValue" maxlength="20" placeholder="{{ 'SEARCH' | translate }}">
    <button style="height: 40px;margin-left:8px;" (click)="getDepartHistoryList()" class="primary button">{{ 'SEARCH' | translate }}</button>
    <button style="height: 40px;margin-left:8px;" (click)="searchValue = '';getDepartHistoryList()" class="alert button">Reset</button>
  </div>
</div>

<!--TABLE HEADER-->
<table class="stack history">
  <thead>
  <tr>
  <th>{{ 'DATE' | translate }}</th>
  <th>{{ 'ULN' | translate }}</th>
  <th>{{ 'PEDIGREE NUMBER' | translate }}</th>
  <th>{{ 'DEPART DATE' | translate }}</th>
  <th>{{ 'REASON OF DEPART' | translate }}</th>
  <th>{{ 'UBN NEW OWNER' | translate }}</th>
  <th *ngIf="false">{{ 'CERTIFICATE NUMBER' | translate }}</th>
  <th>{{ 'STATUS' | translate }}</th>
  <th></th>
  </tr>
  </thead>
  <tbody>
  <tr app-depart-history-row
    *ngFor="let depart of departHistoryList | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalDepartItems}; let i = index"
    (revokeDepart)="selectDepart($event)" [depart]="depart" [depart_index]="i"></tr>
  </tbody>
</table>

<div *ngIf="isLoading" class="data-loader" style="padding:0;">
  <app-page-loading-spinner></app-page-loading-spinner>
</div>

<pagination-controls (pageChange)="page = $event;getDepartHistoryList($event)"></pagination-controls>

<!--REVOKE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modal_display}">
  <div class="tiny reveal" [ngStyle]="{'display': modal_display}">
    <div class="modal-header">
      {{ 'REVOKE DECLARATION' | translate }}
      <button type="button" (click)="closeModal()" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REVOKE DECLARATION' | translate }}</div>
    <div class="modal-footer">
      <button class="tiny alert button pull-right" (click)="revokeDepart()">{{ 'REVOKE' | translate}}</button>
      <button class="tiny primary button pull-right" (click)="closeModal()">{{ 'CANCEL' | translate}}</button>
    </div>
  </div>
</div>
