<!--LOG DATE-->

<td>
    <span *ngIf="!editMode">
        <label class="show-for-small-only">{{ 'DATE' | translate }}</label>
        {{ stringAsViewDateTime(mate.log_date) }}
    </span>

  <span *ngIf="editMode"> <i class="fa fa-pencil" aria-hidden="true"></i> </span>
</td>

<!--ULN MALE-->
<td>
  <label class="show-for-small-only">{{ 'ULN (RAM)' | translate }}</label>
  {{ mate.ram.uln_country_code + mate.ram.uln_number }}
</td>

<!--ULN FEMALE-->
<td>
  <label class="show-for-small-only">{{ 'ULN (EWE)' | translate }}</label>
  {{ mate.ewe.uln_country_code + mate.ewe.uln_number }}
</td>

<!--MATE STARTDATE-->
<td>
  <label class="show-for-small-only">{{ 'MATE DATE' | translate }}</label>
  <span *ngIf="!editMode">{{ mate.start_date }}</span>
  <div *ngIf="editMode" [formGroup]="form">
        <app-datepicker [formCtrl]="form.controls['start_date']" [initDate]="mate.start_date"
                    [viewFormat]="view_date_format" [modelFormat]="model_datetime_format"></app-datepicker>
        <div *ngIf="!form.controls['start_date'].valid" class="input-error-msg text-center">{{ 'FILL IN THE MATE STARTDATE' | translate }}</div>
  </div>
</td>

<!--MATE ENDDATE-->
<td>
  <label class="show-for-small-only">{{ 'TILL' | translate }}</label>
  <span *ngIf="!editMode">{{ mate.end_date }}</span>
  <div *ngIf="editMode" [formGroup]="form">
        <app-datepicker [formCtrl]="form.controls['end_date']" [initDate]="mate.end_date" [viewFormat]="view_date_format"
                    [modelFormat]="model_datetime_format"></app-datepicker>
        <div *ngIf="!form.controls['end_date'].valid" class="input-error-msg text-center">{{ 'FILL IN THE MATE ENDDATE' | translate }}</div>
  </div>
</td>

<!--PMSG-->
<td>
  <label class="show-for-small-only">{{ 'PMSG' | translate }}</label>
  <span *ngIf="!editMode">{{ mate.pmsg | translate }}</span>
  <div *ngIf="editMode" [formGroup]="form">
        <select formControlName="pmsg">
            <option value="YES"> {{ 'YES' | translate }}</option>
            <option value="NO"> {{ 'NO' | translate }}</option>
        </select>
    </div>
</td>

<!--KI-->
<td>
  <label class="show-for-small-only">{{ 'PMSG' | translate }}</label>
  <span *ngIf="!editMode">{{ mate.ki | translate }}</span>
  <div *ngIf="editMode" [formGroup]="form">
        <select formControlName="ki">
            <option value="YES"> {{ 'YES' | translate }}</option>
            <option value="NO"> {{ 'NO' | translate }}</option>
        </select>
    </div>
</td>


<!--STATUS-->
<td>
  <label class="show-for-small-only">{{ 'STATUS' | translate }}</label>
  <span *ngIf="!editMode" [ngSwitch]="mate.request_state">
        <ng-template [ngSwitchCase]="'OPEN'"> {{ 'PROCESSING' | translate }} </ng-template>
        <ng-template [ngSwitchCase]="'REVOKING'"> {{ 'PROCESSING' | translate }} </ng-template>
        <ng-template [ngSwitchCase]="'FINISHED'"> {{ 'SENT' | translate }} </ng-template>
        <ng-template [ngSwitchCase]="'FINISHED_WITH_WARNING'"> {{ 'SENT' | translate }} </ng-template>
        <ng-template [ngSwitchCase]="'REVOKED'"> {{ 'REVOKED' | translate }} </ng-template>
    </span>
</td>

<!--ROW BUTTONS-->
<td>
  <div class="row">
        <span
          [hidden]="editMode || mate.request_state == 'OPEN' || mate.request_state == 'REVOKING' ||  mate.request_state == 'REVOKED'">
            <div class="small-6 columns">
          <button class="tiny primary button expanded" (click)="enableEditing()">{{ 'EDIT' | translate }}</button>
          </div>
            <div class="small-6 columns">
                <button class="tiny alert button expanded"
                        (click)="sendRevokeRequest()">{{ 'REVOKE' | translate }}</button>
            </div>
        </span>

    <span *ngIf="editMode">
            <div class="small-6 columns">
                <button class="tiny primary button expanded" (click)="sendChangeRequest()" [disabled]="isSending">
                    <span *ngIf="!isSending">
                        {{ 'SEND' | translate }}
                    </span>
                    <span *ngIf="isSending">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
            </div>
            <div class="small-6 columns">
                <button class="tiny alert button expanded" (click)="cancelEditing()" [disabled]="isSending">{{ 'CANCEL' | translate }}</button>
            </div>
        </span>

    <span *ngIf="mate.request_state == 'REVOKED' && mate.revoke_date" class="revoke-date">
            <div class="small-12 columns">
                ({{ stringAsViewDateTime(mate.revoke_date) }})
            </div>
        </span>
  </div>
</td>

