<div id="eartag">

  <!--BREADCRUMBS-->
  <div class="row">
    <ul class="breadcrumbs">
      <li><a [routerLink]="['/main']">{{ 'DASHBOARD' | translate }}</a></li>
      <li>{{ 'EARTAGS' | translate }}</li>
    </ul>
  </div>

  <!--TABS MEDIUM/LARGE SCREENS-->
  <div class="row hide-for-small-only">
    <ul class="tabs">
      <li [class.active]="isActiveRoute('/main/eartag/declare')" class="tabs-title">
        <a (click)="navigateTo('/main/eartag/declare')">
          <span *ngIf="useRvoLogic()">{{ 'TRANSFER EARTAG' | translate }}</span>
          <span *ngIf="!useRvoLogic()">{{ 'EARTAG ADMINISTRATION' | translate }}</span>
        </a>
      </li>
      <!--<li [class.active]="isActiveRoute('/main/eartag/history')" class="tabs-title">-->
      <!--<a (click)="navigateTo('/main/eartag/history')">{{ 'HISTORY' | translate }}</a>-->
      <!--</li>-->
      <!--<li [class.active]="isActiveRoute('/main/eartag/errors')" class="tabs-title">-->
      <!--<a (click)="navigateTo('/main/eartag/errors')">-->
      <!--{{ 'ERRORS' | translate }} <span *ngIf="errorAmount > 0" class="alert badge tab-badge">{{ errorAmount }}</span>-->
      <!--</a>-->
      <!--</li>-->
    </ul>
  </div>

  <!--TABS SMALL SCREENS-->
  <div class="row show-for-small-only">
    <label> {{ 'TAB' | translate }}
      <select [(ngModel)]="selectedRoute" (change)="selectRoute($event)">
        <option value="/main/eartag/declare">{{ 'TRANSFER EARTAG' | translate }}</option>
        <!--<option value="/main/eartag/history">{{ 'HISTORY' | translate }}</option>-->
        <!--<option value="/main/eartag/errors">{{ 'ERRORS' | translate }} ({{ errorAmount }})</option>-->
      </select>
    </label>
  </div>

  <!--TAB CONTENT-->
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
