<div [hidden]="!is_logged_in">

    <!--TOP NAVIGATION BAR-->
    <nav [class.is_admin]="isAdmin">
      <ul class="navbar-ul-container">
        <li style="float: left;">
          <button style="float: left;" type="button" (click)="isActiveSideMenu = !isActiveSideMenu; isActiveUserMenu = false; isActiveMessageMenu = false;" [class.active]="isActiveSideMenu" class="menu-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>

        <li class="li-left">
          <div class="brand-name" (click)="navigateTo('/main')"> NSFO <span>Online</span></div>
        </li>

        <li class="li-left">
          <div class="ubn-container">
            <select [(ngModel)]="currentLocation" (change)="selectUBN(); reloadApp()">
              <option *ngFor="let location of locationList" [ngValue]="location"> ({{'UBN_SHORT' | translate}}:{{ location.ubn }} {{ location.country_code }})</option>
            </select>
          </div>
        </li>

        <li class="li-right">
          <div>
            <button type="button" (click)="toggleActiveUserMenu()" [class.active]="isActiveUserMenu" class="profile-toggle">
              <i class="fa fa-user"><span class="show-for-large">{{ currentUser.first_name }} {{ currentUser.last_name }} </span></i>
            </button>
          </div>
        </li>

        <li class="li-right">
          <button type="button" (click)="toggleActiveMessageMenu()" [class.active]="isActiveMessageMenu" class="message-toggle">
            <i class="fa fa-envelope"><span *ngIf="menuMessages.length > 0"> {{ menuMessages.length }}</span></i>
          </button>
        </li>

        <li class="li-right">
          <ng-template [ngIf]="!isDownloadModalEmpty()">
            <button type="button" (click)="toggleDownloadModal()" [class.active]="isActiveDownloadModal" class="download-toggle">
              <i class="fa fa-download"><span *ngIf="downloadCount() > 0"> {{ downloadCount() }}</span></i>
            </button>
          </ng-template>
        </li>

      <li class="li-right">
          <ng-template [ngIf]="!isReportModalEmpty()">
              <button type="button" (click)="toggleReportModal()" [class.active]="isActiveReportModal" class="download-toggle">
                  <i class="fas fa-cloud-download-alt"><span *ngIf="reportCount() > 0"> {{ reportCount() }}</span></i>
              </button>
          </ng-template>
      </li>
        <li class="li-right">
          <ng-template [ngIf]="!isDeclareModalEmpty()">
            <button type="button" (click)="toggleDeclareItemsModal()" [class.active]="isActiveDeclareItemsModal" class="declare-modal-toggle">
              <i class="fa fa-list"><span *ngIf="declareItemsCount() > 0"> {{ declareItemsCount() }}</span></i>
            </button>
          </ng-template>
        </li>
      </ul>
    </nav>

  <!--SIDE MENU-->
    <div class="side-menu" [class.enabled]="isActiveSideMenu">
        <ul>
            <li (click)="navigateTo('/main'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main')"  class="link">
                <i class="fas fa-tachometer-alt fa-fw" aria-hidden="true"></i>
                {{ 'DASHBOARD' | translate }}
            </li>
            <li (click)="navigateTo('/main/livestock/overview'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/livestock/overview')" class="link">
                <i class="fa fa-list fa-fw" aria-hidden="true"></i>
                {{ 'LIVESTOCK' | translate }}
            </li>
            <li (click)="navigateTo('/main/report'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/report')" class="link">
                <i class="far fa-chart-bar fa-fw" aria-hidden="true"></i>
                {{ 'REPORTS' | translate }}
            </li>
            <li (click)="navigateTo('/main/messages'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/messages/overview')" class="link">
                <i class="fa fa-inbox fa-fw" aria-hidden="true"></i>
                {{ 'MESSAGES' | translate }}
            </li>
            <li (click)="navigateTo('/main/contact'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/contact')" class="link">
                <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                {{ 'CONTACT NSFO' | translate }}
            </li>
            <li class="category">{{ 'DECLARE' | translate }}</li>
            <li (click)="navigateTo('/main/arrival'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/arrival/declare') || isActiveRoute('/main/arrival/history') || isActiveRoute('/main/arrival/errors')" class="item link">
                {{ 'ARRIVAL' | translate }}
            </li>
            <li (click)="navigateTo('/main/depart'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/depart/declare') || isActiveRoute('/main/depart/history') || isActiveRoute('/main/depart/errors')" class="item link">
                {{ 'DEPART' | translate }}
            </li>
            <li (click)="navigateTo('/main/mate'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/mate/declare') || isActiveRoute('/main/mate/history') || isActiveRoute('/main/mate/errors')" class="item link">
                {{ 'MATE' | translate }}
            </li>
            <li (click)="navigateTo('/main/birth'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/birth/declare') || isActiveRoute('/main/birth/history') || isActiveRoute('/main/birth/errors')" class="item link">
                {{ 'BIRTH' | translate }}
            </li>
            <li (click)="navigateTo('/main/loss'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/loss/declare') || isActiveRoute('/main/loss/history') || isActiveRoute('/main/loss/errors')" class="item link">
                {{ 'LOSS' | translate }}
            </li>
            <li (click)="navigateTo('/main/weight'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/weight/declare')" class="item link">
                {{ 'WEIGHT' | translate }}
            </li>
            <li class="category">{{ 'MANAGE' | translate }}</li>
            <li (click)="navigateTo('/main/eartag'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/eartag')" class="item link">
                {{ 'EARTAGS' | translate }}
            </li>
            <li (click)="navigateTo('/main/tag-replacement'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/tag-replacement')" class="item link">
                {{ 'REPLACE EARTAG' | translate }}
            </li>
            <li (click)="navigateTo('/main/profile'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/profile/company') || isActiveRoute('/main/profile/login')" class="item link">
                {{ 'PROFILE' | translate }}
            </li>
            <li *ngIf="isInvoicesActive" (click)="navigateTo('/main/invoices'); isActiveSideMenu = false" [class.active]="isActiveRoute('/main/invoices/overview')" class="item link">
                {{'INVOICES' | translate}}
            </li>


            <li *ngIf="isAdmin" (click)="navigateTo('/main/admin'); isActiveSideMenu = false"
                [class.active]="isActiveRoute('/main/admin/rvo-leading-livestock-sync')"
                class="item link">
                {{ 'ADMIN OPTIONS' | translate }}
            </li>
        </ul>
    </div>

  <!--MESSAGE MENU-->
    <div class="message-menu" [class.enabled]="isActiveMessageMenu">
        <div class="no-messages" *ngIf="menuMessages.length == 0">{{ 'THERE ARE NO UNREAD MESSAGES' | translate }}</div>
        <div *ngIf="menuMessages.length > 0">
            <div class="message-menu-header">{{ 'UNREAD MESSAGES' | translate }}</div>
            <div class="message" (click)="removeMenuMessage(message); navigateTo('/main/messages/' + message.message_id)" *ngFor="let message of menuMessages">
                <div class="sender">
                    {{ message.sender }}
                    <span class="creation-date pull-right"> {{ stringAsViewDateTime(message.creation_date) }} </span>
                </div>
                <div class="subject">{{ message.subject | translate }}</div>
            </div>
        </div>

        <button (click)="navigateTo('/main/messages'); isActiveMessageMenu = false" class="tiny button expanded"> {{ 'GO TO MESSAGES' | translate }} </button>
    </div>

  <!--USER MENU-->
    <div class="user-menu" [class.enabled]="isActiveUserMenu">
        <div class="item">
            <div (click)="navigateTo('/main/profile'); isActiveUserMenu = false">
                {{ 'PROFILE' | translate }}
                <i class="fa fa-cogs fa-fw" aria-hidden="true"></i>
            </div>
        </div>
        <div class="item">
             <div (click)="navigateTo('/main/contact'); isActiveUserMenu = false">
                {{ 'CONTACT NSFO' | translate }}
                <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
             </div>
        </div>
        <div class="item">
            <div (click)="logout()">
                {{ 'LOGOUT' | translate }}
                <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
            </div>
        </div>
    </div>

  <!-- CONTENT CONTAINER -->
    <div class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>
<app-download-modal></app-download-modal>
<app-report-modal></app-report-modal>

<app-declare-manager-modal></app-declare-manager-modal>
