<div id="treatment">

  <!--BREADCRUMBS-->
  <div class="row">
    <ul class="breadcrumbs">
      <li><a [routerLink]="['/main']">{{ 'DASHBOARD' | translate }}</a></li>
      <li>{{ 'TREATMENT' | translate }}</li>
    </ul>
  </div>

  <!--TABS MEDIUM/LARGE SCREENS-->
  <div class="row hide-for-small-only">
    <ul class="tabs">
      <li [class.active]="isActiveRoute('/main/treatment/declare')" class="tabs-title">
        <a (click)="navigateTo('/main/treatment/declare')">{{ 'DECLARE TREATMENT' | translate }}</a>
      </li>
      <li [class.active]="isActiveRoute('/main/treatment/history')" class="tabs-title">
        <a (click)="navigateTo('/main/treatment/history')">{{ 'HISTORY' | translate }}</a>
      </li>
      <li [class.active]="isActiveRoute('/main/treatment/errors')" class="tabs-title">
        <a (click)="navigateTo('/main/treatment/errors')">{{ 'ERRORS' | translate }}</a>
      </li>
    </ul>
  </div>

  <!--TABS SMALL SCREENS-->
  <div class="row show-for-small-only">
    <label> {{ 'TAB' | translate }}
      <select [(ngModel)]="selectedRoute" (change)="selectRoute($event)">
        <option value="/main/treatment/declare">{{ 'DECLARE TREATMENT' | translate }}</option>
        <option value="/main/treatment/history">{{ 'HISTORY' | translate }}</option>
        <option value="/main/treatment/errors">{{ 'ERRORS' | translate }}</option>
      </select>
    </label>
  </div>

  <!--TAB CONTENT-->
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
