<form class="form-declare">
  <div class="row">
      <div class="medium-2 columns">
        <input #csv (change)="handleFileInput($event.target.files)" type="file" id="csv" name="file" accept=".csv">
      </div>
  </div>
</form>

<div class="row" *ngIf="birthRequests.length > 0">
  <div class="columns">
    <button (click)="submitBirthRequests()" class="small primary button">Melden  <span class="badge">{{birthRequests.length}}</span></button>
  </div>
</div>

<div *ngFor="let birthRequest of birthRequests" class="csv_birthrequest" [class.success]="birthRequest.declareStatus === true" [class.error]="birthRequest.declareStatus === false">
  <!-- <ng-container *ngIf="birthRequest.declareStatus === null || birthRequest.declareStatus === false"> -->
    <div class="row">
      <div class="columns">
        <i *ngIf="birthRequest.isSubmitting" class="fa fa-spinner fa-pulse fa-fw"></i>
        <p style="color:#ff0000;">
          {{birthRequest.errorMessage}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="medium-2 columns">
        <label>
          {{ 'LITTER SIZE' | translate }}
        </label>
        {{birthRequest.litter_size}}
      </div>
      <div class="medium-3 columns">
        <label>{{ 'MOTHER' | translate }}</label>

        <!--Missing country code but has a uln number-->
        <div class="uid-input-group" *ngIf="!birthRequest?.mother?.uln_country_code && birthRequest?.mother?.uln_number">
          <select [ngModel]="birthRequest?.mother?.uln_country_code" (change)="selectMotherUlnCountryCode(birthRequest, $event.target.value)">
            <option *ngFor="let country_code of country_code_list" [value]="country_code.code">
              {{ country_code.code }}
            </option>
          </select>
          <input type="text" disabled [value]="birthRequest?.mother?.uln_number">
        </div>

        <!--Both country code and uln number are present-->
        <div class="row collapse" *ngIf="birthRequest?.mother?.uln_country_code && birthRequest?.mother?.uln_number">
          <span class="medium-9 columns">{{birthRequest?.mother?.uln_country_code}} {{birthRequest?.mother?.uln_number}}</span>
          <button class="tiny button medium-3 columns" *ngIf="birthRequest?.motherUlnCountryCodeOnlyHasChanged" (click)="resetMotherUlnCountryCode(birthRequest)">{{'CHANGE' | translate}}</button>
          <button class="tiny button medium-3 columns" *ngIf="birthRequest?.motherHasChanged" (click)="resetMother(birthRequest)">{{'CHANGE' | translate}}</button>
        </div>

        <!--Both country code and uln number are missing-->
        <ng-container *ngIf="!birthRequest?.mother?.uln_country_code && !birthRequest?.mother?.uln_number && !birthRequest.suggestedCandidateMothersIsLoading">
          <input (keyup)="preventKeyPress($event)" (keydown)="preventKeyPress($event)"
                 (keypress)="preventKeyPress($event)" type="text" name="uid_number_mother"
                 (focus)="getCandidateMothers(birthRequest); motherSelector.openModal()">
        </ng-container>

      </div>

      <div class="medium-3 columns">
        <label>{{ 'FATHER' |translate }}</label>
        <i *ngIf="birthRequest.suggestedCandidateFathersIsLoading" class="fa fa-spinner fa-pulse fa-fw"></i>

        <div class="row collapse" *ngIf="birthRequest?.father">
          <span class="medium-9 columns">
            {{birthRequest?.father?.uln_country_code}} {{birthRequest?.father?.uln_number}}
          </span>
          <span class="medium-3 columns">
            <button class="tiny button" (click)="birthRequest.father = null">{{'REMOVE' | translate}}</button>
          </span>
        </div>

        <ng-container *ngIf="!birthRequest?.father && birthRequest.suggestedCandidateFathersIsLoading === false">
          <input (keyup)="preventKeyPress($event)" (keydown)="preventKeyPress($event)"
                (keypress)="preventKeyPress($event)" type="text" name="uid_number_father"
                (focus)="getCandidateFathers(birthRequest); fatherSelector.openModal()">
        </ng-container>

      </div>

      <div class="medium-1 columns">

      </div>

      <div class="medium-2 columns">
          <label>
            {{ 'STILLBORN' | translate }}
          </label>
          {{birthRequest.stillborn_count}}
        </div>
    </div>
    <div class="row">
      <div class="columns">
        <div *ngIf="birthRequest?.children?.length > 0">
          <table class="stack">
            <thead>
              <th>
                {{ 'ULN' | translate }}*
              </th>
              <th>
                {{ 'GENDER' | translate }}
              </th>
              <th>
                {{ 'BIRTH PROGRESS' | translate }}
              </th>
              <th>
                {{ 'BIRTH WEIGHT (KG)' | translate }}
              </th>
              <th>
                {{ 'DATE OF BIRTH' | translate }}
              </th>
              <th>
                {{ 'DATE SCANNED' | translate }}
              </th>
              <th>
                {{ 'TAIL LENGTH (CM)' | translate }}
              </th>
              <th>
                {{ 'LAMBAR' | translate }}
              </th>
              <th>
                {{ 'ULN' | translate }} ({{ 'SURROGATE' | translate }})
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let child of birthRequest.children; let i = index">
                <td>{{child?.uln_country_code}} {{child?.uln_number}}</td>
                <td>{{child?.gender | translate }}</td>
                <td>{{child?.birth_progress | translate }}</td>
                <td>{{child?.birth_weight }}</td>
                <td>{{child?.date_of_birth }}</td>
                <td>{{child?.date_scanned }}</td>
                <td>{{child?.tail_length }}</td>
                <td>
                  <span *ngIf="child?.has_lambar">Ja</span>
                  <span *ngIf="!child?.has_lambar">Nee</span>
                <td>

                  <!--Missing country code but has a uln number and lambar is false-->
                  <div class="uid-input-group" *ngIf="!child?.surrogate_mother?.uln_country_code && child?.surrogate_mother?.uln_number && !child?.has_lambar">
                    <select [ngModel]="child?.surrogate_mother?.uln_country_code" (change)="selectSurrogateMotherUlnCountryCode(child, $event.target.value)" style="height:2.4375rem">
                      <option *ngFor="let country_code of country_code_list" [value]="country_code.code">
                        {{ country_code.code }}
                      </option>
                    </select>
                    <input type="text" disabled [value]="child?.surrogate_mother?.uln_number" style="font-size:0.7rem;max-width:100%">
                  </div>

                  <!--Both country code and uln number are missing and lambar is false-->
                  <ng-container *ngIf="!child?.surrogate_mother?.uln_country_code && !child?.surrogate_mother?.uln_number && !child?.has_lambar">
                    <input (keyup)="preventKeyPress($event)" (keydown)="preventKeyPress($event)"
                           (keypress)="preventKeyPress($event)" type="text" name="uid_number_surrogate_mother"
                           (focus)="getCandidateSurrogates(birthRequest, child); surrogateMotherSelector.openModal()">
                  </ng-container>

                  <!--Both country code and uln number are present and lambar is false-->
                  <div class="row collapse" *ngIf="child?.surrogate_mother?.uln_country_code && child?.surrogate_mother?.uln_number && !child?.has_lambar">
                    <span class="medium-9 columns">{{child?.surrogate_mother?.uln_country_code}} {{child?.surrogate_mother?.uln_number}}</span>
                    <button class="tiny button medium-3 columns" (click)="resetSurrogateMotherUlnCountryCode(child)">{{'CHANGE' | translate}}</button>
                  </div>

                  <span *ngIf="child?.has_lambar">
                    n.v.t.
                  </span>
                </td>
              </tr>

              <!-- <tr *ngFor="let child of birthRequest.stillBorns; let i = index">
                <td>{{ 'STILLBORN' | translate}}</td>
                <td>{{child?.gender }}</td>
                <td>{{child?.birth_progress }}</td>
                <td>{{child?.birth_weight }}</td>
                <td>{{child?.date_of_birth }}</td>
                <td>{{child?.date_scanned }}</td>
                <td>{{child?.tail_length }}</td>
                <td>{{child?.nurture_type }}</td>
                <td></td>
                <td>
                </td>
              </tr> -->


            </tbody>
          </table>
        </div>
      </div>
    </div>
  <!-- </ng-container> -->
</div>
  <selector
    #motherSelector
    [columns]="['ULN', 'PEDIGREE NUMBER']"
    [list]="suggestedCandidateMothers"
    [filter]="'FEMALES'"
    [SUGGESTION_LABEL]="'POSSIBLE MOTHER'"
    [isLoading]="isLoadingCandidateMothers"
    (selection)="selectMother($event)">
  </selector>

  <selector
    #fatherSelector
    [columns]="['ULN', 'PEDIGREE NUMBER']"
    [list]="suggestedCandidateFathers"
    [filter]="'MALES'"
    [SUGGESTION_LABEL]="'POSSIBLE FATHER'"
    [isLoading]="isLoadingCandidateFathers"
    (selection)="selectFather($event)">
  </selector>

  <selector
    #surrogateMotherSelector
    [columns]="['ULN', 'PEDIGREE NUMBER']"
    [list]="candidateSurrogates"
    [filter]="'FEMALES'"
    [SUGGESTION_LABEL]="'POSSIBLE SURROGATE MOTHER'"
    (selection)="selectSurrogateMother($event)">
  </selector>
