<div class="large-12 table-search">
  <div class="large-2 large-push-10">
    <input type="text" [(ngModel)]="searchValue" maxlength="20" placeholder="{{ 'SEARCH' | translate }}">
  </div>
</div>

<!--TABLE HEADER-->
<table class="stack history">
  <thead>
  <th>{{ 'DATE' | translate }}</th>
  <th>{{ 'ANIMAL' | translate }}</th>
  <th>{{ 'NEW EARTAG' | translate }}</th>
  <th>{{ 'STATUS' | translate }}</th>
  <th></th>
  </thead>
  <tbody>
  <app-tag-replacement-history-row
    *ngFor="let tagReplacement of tagReplacementHistoryList | tagReplacementHistoryFilter:[searchValue] | paginate: {itemsPerPage: 10, currentPage: page}; let i = index"
    (revokeTagReplacement)="selectTagReplacement($event)" [tagReplacement]="tagReplacement" [tagReplacementIndex]="i"></app-tag-replacement-history-row>
  </tbody>
</table>

<div *ngIf="isLoading" class="data-loader">
  <i class="fa fa-spinner fa-pulse fa-fw"></i>
  <div class="description">{{ 'LOADING' | translate }}</div>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>

<!--REVOKE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modalDisplay}">
  <div class="tiny reveal" [ngStyle]="{'display': modalDisplay}">
    <div class="modal-header">
      {{ 'REVOKE DECLARATION' | translate }}
      <button type="button" (click)="closeModal()" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REVOKE DECLARATION' | translate }}</div>
    <div class="modal-footer">
      <button class="tiny alert button pull-right" (click)="revokeTagReplacement()">{{ 'REVOKE' | translate}}</button>
      <button class="tiny primary button pull-right" (click)="closeModal()">{{ 'CANCEL' | translate}}</button>
    </div>
  </div>
</div>
