<div class="detail-container">

  <div class="row">
    <div class="large-1 medium-1 small-3 columns">
      <button type="button" (click)="goBack()" class="tiny primary button">{{ 'GO BACK' | translate }}</button>
    </div>

    <div class="show-for-small-only small-9 columns end">
            <span class="pull-right">
                <ng-template [ngTemplateOutlet]="changeButton"></ng-template>
            </span>
    </div>

    <div class="large-6 medium-3 hide-for-small-only columns" style="color:transparent">
      <span> - </span>
    </div>

    <div class="large-2 medium-3 small-6 columns">
            <span class="pull-right">
                <app-download-button
                  *ngIf="!edit_mode"
                  [extraDisabledCriteria]="!changeEnabled"
                  [labelText]="'LINEAGE PROOF CSV'"
                  [includeDownloadIcon]="true"
                  [fontSize]="'10px'"
                  (click)="generateLineageProof('CSV')"
                ></app-download-button>
            </span>
    </div>

    <div class="large-2 medium-3 small-6 columns">
            <span class="pull-right">
                <app-download-button
                  *ngIf="!edit_mode"
                  [extraDisabledCriteria]="!changeEnabled"
                  [labelText]="'LINEAGE PROOF PDF'"
                  [includeDownloadIcon]="true"
                  [fontSize]="'10px'"
                  (click)="generateLineageProof('PDF')"
                ></app-download-button>
            </span>
    </div>

    <div *ngIf="!edit_mode"
         class="large-1 medium-2 small-6 hide-for-small-only columns">
            <span class="pull-right">
                <ng-template [ngTemplateOutlet]="changeButton"></ng-template>
            </span>
    </div>

    <div *ngIf="edit_mode"
         class="small-6 hide-for-small-only columns">
            <span class="pull-right">
                <ng-template [ngTemplateOutlet]="changeButton"></ng-template>
            </span>
    </div>

  </div>

  <label *ngIf="changed_animal_info" class="middle input-success-msg pull-right">{{ 'THE ANIMAL INFO HAS BEEN SAVED' |
    translate }}</label>
  <label *ngIf="changed_animal_info_error" class="middle input-error-msg pull-right">{{ error_message | translate }} {{
    gender_change_error }}</label>
  <label *ngIf="gender_changed_animal_info_error" class="middle input-error-msg pull-right">{{ gender_change_error
    }}</label>

  <div class="row" *ngIf="isLoading">
    <div class="medium-12 columns">
      <app-page-loading-spinner></app-page-loading-spinner>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="medium-6 columns">

      <!-- ANIMAL DETAIL -->
      <div class="info-container">
        <div class="info-header">
          {{ 'ANIMAL DETAIL' | translate }}
        </div>
        <div class="info-body">

          <!-- ULN -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'ULN' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.uln" [disabled]="true">
            </div>
          </div>

          <!-- PEDIGREE NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'PEDIGREE NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <div class="uid-input-group">
                <select [(ngModel)]="animal.pedigree_country_code" ngControl="pedigree_country_code" [disabled]="true">
                  <option value="{{ animal.pedigree_country_code }}">{{ animal.pedigree_country_code }}</option>
                </select>
                <input type="text" [(ngModel)]="animal.pedigree_number" ngControl="pedigree_number" [disabled]="true">
              </div>
            </div>
          </div>

          <!-- NICKNAME -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'NICKNAME' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.nickname" [disabled]="!nickname_edit_mode">
            </div>
            <button type="button" *ngIf="nickname_edit_mode" (click)="toggleNicknameEditMode()"
                    class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
            </button>
            <button type="button" *ngIf="nickname_edit_mode" (click)="sendNicknameChangeRequest()"
                    class="tiny primary button pull-right">{{ 'SAVE' | translate }}
            </button>
            <button type="button" *ngIf="!nickname_edit_mode" [disabled]="!changeEnabled" (click)="toggleNicknameEditMode()"
                    class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
              <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
            </button>
          </div>

          <!-- WORK NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'WORK NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.work_number" [disabled]="true">
            </div>
          </div>

          <!-- COLLAR NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'COLLAR NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <div class="uid-input-group">
                <select [(ngModel)]="animal.collar.color" [disabled]="!edit_mode">
                  <option value=""></option>
                  <option *ngFor="let collar of collar_color_list" value="{{ collar.name }}">{{ collar.name }}</option>
                </select>
                <input type="text" [(ngModel)]="animal.collar.number" [disabled]="!edit_mode" maxlength="4">
              </div>
            </div>
          </div>

          <!-- DATE OF BIRTH -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'DATE OF BIRTH' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.date_of_birth" [disabled]="true">
            </div>
          </div>

          <!-- GENDER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'GENDER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <select [(ngModel)]="animal.gender" [disabled]="!gender_edit_mode">
                <option *ngFor="let option of livestock_gender_options" [value]="option">{{ option | translate }}
                </option>
              </select>
            </div>
            <button type="button" *ngIf="gender_edit_mode" (click)="toggleGenderEditMode()"
                    class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
            </button>
            <button type="button" *ngIf="gender_edit_mode" (click)="sendGenderChangeRequest()"
                    class="tiny primary button pull-right">{{ 'SAVE' | translate }}
            </button>
            <button type="button" *ngIf="!gender_edit_mode" [disabled]="!changeEnabled" (click)="toggleGenderEditMode()"
                    class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
              <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
            </button>
          </div>

          <!-- LITTER SIZE -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'LITTER SIZE' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [ngModel]="animal.litter_size" disabled>
            </div>
          </div>

          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'PRODUCTION' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" disabled value="{{ animal.production }}">
            </div>
          </div>

          <!--&lt;!&ndash; INBREEDING INDEX &ndash;&gt;-->
          <!--<div class="row">-->
          <!--<div class="medium-6 columns">-->
          <!--<label class="middle">{{ 'INBREEDING INDEX' | translate }}</label>-->
          <!--</div>-->
          <!--<div class="medium-6 columns">-->
          <!--<input type="text" [(ngModel)]="animal.inbreeding_index" [disabled]="true">-->
          <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; REARING &ndash;&gt;-->
          <!--<div class="row">-->
          <!--<div class="medium-6 columns">-->
          <!--<label class="middle">{{ 'REARING' | translate }}</label>-->
          <!--</div>-->
          <!--<div class="medium-6 columns">-->
          <!--<input type="text" [(ngModel)]="animal.rearing" [disabled]="true">-->
          <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; SUCTION SIZE &ndash;&gt;-->
          <!--<div class="row">-->
          <!--<div class="medium-6 columns">-->
          <!--<label class="middle">{{ 'SUCTION SIZE' | translate }}</label>-->
          <!--</div>-->
          <!--<div class="medium-6 columns">-->
          <!--<input type="text" [(ngModel)]="animal.suction_size" [disabled]="true">-->
          <!--</div>-->
          <!--</div>-->

          <!--&lt;!&ndash; BLIND FACTOR &ndash;&gt;-->
          <!--<div class="row">-->
          <!--<div class="medium-6 columns">-->
          <!--<label class="middle">{{ 'BLIND FACTOR' | translate }}</label>-->
          <!--</div>-->
          <!--<div class="medium-6 columns">-->
          <!--<input type="text" [(ngModel)]="animal.blind_factor" [disabled]="true">-->
          <!--</div>-->
          <!--</div>-->

          <!-- SCRAPIE GENOTYPE -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'SCRAPIE GENOTYPE' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scrapie_genotype" [disabled]="true">
            </div>
          </div>
        </div>
      </div>

      <!-- MEASUREMENTS -->
      <div class="info-container">
        <div class="info-header">
          <div class="col12">
            {{ 'MEASUREMENTS' | translate }}
            <span class="hide-for-small-only">
                            | {{ 'LAST UPDATED' | translate }}:
                            <span *ngIf="animal.measurement.measurement_date"> {{ stringAsViewDateTime(animal.measurement.measurement_date) }} </span>
                            <span *ngIf="!animal.measurement.measurement_date"> --/--/---- --:-- </span>
                        </span>
          </div>
        </div>
        <div class="info-body">

          <!-- FAT COVER 1 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 1 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.measurement.fat_cover_one" [disabled]="true">
            </div>
          </div>

          <!-- FAT COVER 2 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 2 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.measurement.fat_cover_two" [disabled]="true">
            </div>
          </div>

          <!-- FAT COVER 3 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 3 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.measurement.fat_cover_three" [disabled]="true">
            </div>
          </div>

          <!-- MUSCULAR THICKNESS -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'MUSCULAR THICKNESS' | translate }} </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.measurement.muscular_thickness" [disabled]="true">
            </div>
          </div>

          <!-- SCAN WEIGHT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'SCAN WEIGHT' | translate }} (kg)</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.measurement.scan_weight" [disabled]="true">
            </div>
          </div>

          <hr *ngIf="birth_measurements_edit_mode">

          <!-- BIRTH WEIGHT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'BIRTH WEIGHT' | translate }} (kg)</label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [(ngModel)]="animal.measurement.birth_weight" [disabled]="!birth_measurements_edit_mode">
            </div>
          </div>

          <!-- BIRTH PROGRESS -->
          <!--<div class="row">-->
          <!--<div class="medium-6 columns">-->
          <!--<label class="middle"> {{ 'BIRTH PROGRESS' | translate }} </label>-->
          <!--</div>-->
          <!--<div class="medium-6 columns">-->
          <!--<input type="text" [(ngModel)]="animal.measurement.birth_progress" [disabled]="true">-->
          <!--</div>-->
          <!--</div>-->

          <!-- TAIL LENGTH -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'TAIL LENGTH' | translate }} {{ '(CM)' | translate }} </label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [(ngModel)]="animal.measurement.tail_length" [disabled]="!birth_measurements_edit_mode">
            </div>
          </div>

          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="birth_measurements_edit_mode" (click)="toggleBirthMeasurementsEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="birth_measurements_edit_mode" (click)="sendBirthMeasurementsChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!birth_measurements_edit_mode" [disabled]="!changeEnabled" (click)="toggleBirthMeasurementsEditMode()"
                      class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="medium-6 columns">

      <!-- NOTES -->
      <!--<div class="info-container">-->
      <!--<div class="info-header">-->
      <!--{{ 'NOTES' | translate }}-->
      <!--</div>-->
      <!--<div class="info-body">-->
      <!--<div class="row">-->
      <!--<div class="textarea">-->
      <!--<textarea rows="6" [(ngModel)]="animal.note" [disabled]="!edit_mode"></textarea>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!-- EXTERIOR -->
      <div class="info-container">
        <app-exterior-component
          *ngIf="animal.uln != ''"
          (latestExteriors)="setLatestExteriors($event)"
          [uln]="animal.uln"
          [exteriors]="animal.exteriors"
        ></app-exterior-component>

        <!-- PREDICATES AND STATUSES -->
        <div class="info-container">
          <div class="info-header">
            {{ 'PREDICATES AND STATUSES' | translate }}
          </div>
          <div class="info-body">

            <!-- RACE -->
            <div class="row">
              <div class="medium-6 columns">
                <label class="middle">{{ 'RACE CODE' | translate }}</label>
              </div>
              <div class="medium-6 columns">
                <input type="text" [(ngModel)]="animal.breed" [disabled]="true">
              </div>
            </div>

            <!-- PREDICATES -->
            <!--<div class="row">-->
            <!--<div class="medium-6 columns">-->
            <!--<label class="middle">{{ 'PREDICATE' | translate }}</label>-->
            <!--</div>-->
            <!--<div class="medium-6 columns">-->
            <!--<input type="text" [(ngModel)]="animal.predicate" [disabled]="true">-->
            <!--</div>-->
            <!--</div>-->

            <!-- STATUS -->
            <div class="row">
              <div class="medium-6 columns">
                <label class="middle">{{ 'STATUS' | translate }}</label>
              </div>
              <div class="medium-6 columns">
                <select [(ngModel)]="animal.breed_status" [disabled]="true">
                  <option *ngFor="let option of livestock_breed_options" value="{{ option }}">{{ option | translate }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- BREEDER AND/OR CO-OWNER -->
        <!--<div class="info-container">-->
        <!--<div class="info-header">-->
        <!--{{ 'BREEDER AND OR CO-OWNER' | translate }}-->
        <!--</div>-->
        <!--<div class="info-body">-->

        <!--&lt;!&ndash; BREEDER &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="medium-6 columns">-->
        <!--<label> {{ 'BREEDER' | translate }} </label>-->
        <!--</div>-->
        <!--<div class="medium-6 columns">-->
        <!--<input type="text" [(ngModel)]="animal.breeder.breeder" [disabled]="!edit_mode">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; UBN BREEDER &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="medium-6 columns">-->
        <!--<label> {{ 'UBN BREEDER' | translate }} </label>-->
        <!--</div>-->
        <!--<div class="medium-6 columns">-->
        <!--<input type="text" [(ngModel)]="animal.breeder.ubn" [disabled]="!edit_mode">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; E-MAIL ADDRESS &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="medium-6 columns">-->
        <!--<label> {{ 'E-MAIL ADDRESS' | translate }} </label>-->
        <!--</div>-->
        <!--<div class="medium-6 columns">-->
        <!--<input type="text" [(ngModel)]="animal.breeder.email" [disabled]="!edit_mode">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; TELEPHONE &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="medium-6 columns">-->
        <!--<label> {{ 'TELEPHONE' | translate }} </label>-->
        <!--</div>-->
        <!--<div class="medium-6 columns">-->
        <!--<input type="text" [(ngModel)]="animal.breeder.telephone" [disabled]="!edit_mode">-->
        <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; CO-OWNER &ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="medium-6 columns">-->
        <!--<label> {{ 'CO-OWNER' | translate }} </label>-->
        <!--</div>-->
        <!--<div class="medium-6 columns">-->
        <!--<input type="text" [disabled]="!edit_mode">-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>

    <div class="large-12 columns">
      <div class="info-container">
        <div class="info-header">
          <label>
            {{ "PARENTS" | translate }}
          </label>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <span *ngIf="!animalExists(fatherAnimal) && !animalExists(motherAnimal)" class="large-6 columns info-body">
              {{'NO PARENT DATA AVAILABLE' | translate}}
            </span>

            <div *ngIf="animalExists(fatherAnimal)" class="large-6 columns info-body">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [inputAnimal]="fatherAnimal"
                [mainAnimalGender]="'parents'"
              ></app-animal-details-card>
            </div>
            <div *ngIf="animalExists(motherAnimal)" class="large-6 columns info-body">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [inputAnimal]="motherAnimal"
                [mainAnimalGender]="'parents'"
              >
              </app-animal-details-card>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="large-12 columns">

      <div class="info-container">
        <div class="info-header">
          <label>
            {{ 'BREED VALUES' | translate }}
          </label>
        </div>

        <div class="info-body">

          <div class="row" *ngIf="hasBreedValues()">
            <div class="large-8 columns">
              <app-bar-component [data]="breedValueData" [config]="breedValueConfig" [elementId]="breedValueElementId"></app-bar-component>
            </div>
            <div class="large-2 columns end">
              <table class="breed-value-table">
                <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th>{{ 'BREED_VALUE_ABBREVIATION'|translate }} / {{ 'ACCURACY_ABBREVIATION'|translate }}</th>
                </tr>
                <tr *ngFor="let breedValue of breedValues">
                  <td><div class="ordinal-box" [ngStyle]="{'background': breedValue.chart_color}">{{ breedValue.ordinal}}</div></td>
                  <td>{{ breedValue.chart_label}}</td>
                  <td class="breed-value-and-accuracy-column">{{ breedValue.prioritize_normalized_values_in_table ? breedValue.normalized_value : breedValue.value}} / {{ breedValue.accuracy}}%</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="!hasBreedValues()">
            <div class="large-12 columns align-center">
              <p>{{'THIS ANIMAL HAS NO BREED VALUES' | translate }}</p>
            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="large-12 columns">

      <div class="info-container">
        <div class="info-header">
          <label>
            {{ 'WEIGHTS' | translate }}
          </label>
        </div>

        <div class="info-body">
          <div class="row" *ngIf="hasWeights()">
            <div class="large-12 columns">
              <app-line-component [data]="weightData" [config]="weightConfig" [elementId]="weightElementId"></app-line-component>
            </div>
          </div>

          <div class="row" *ngIf="!hasWeights()">
            <div class="large-12 columns align-center">
              <p>{{'THIS ANIMAL HAS NO WEIGHT MEASUREMENTS' | translate }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="large-12 columns">
      <div class="info-container">
        <div class="info-header">
          <label *ngIf="animal.child_count === 0">{{ "CHILDREN" | translate }}</label>

          <button *ngIf="animal.child_count > 0"
                  class="button expanded" [ngClass]="{'toggled': displayChildren, 'secondary': displayChildren}"
                  (click)="toggleDisplayChildren()"
          >
            <i *ngIf="!displayChildren" class="fa fa-caret-right fa-fw fa-2x" aria-hidden="true"></i>
            <i *ngIf="displayChildren" class="fa fa-caret-down fa-fw fa-2x" aria-hidden="true"></i>
            <span *ngIf="!displayChildren" style="font-size: 1rem"> {{ 'DISPLAY CHILDREN' | translate }} </span>
            <span *ngIf="displayChildren" style="font-size: 1rem"> {{ 'CHILDREN' | translate }} </span>
            <span *ngIf="animal.child_count > 0" class="badge" style="font-size: 0.8rem">{{animal.child_count}}</span>
          </button>
        </div>

        <div class="info-body" *ngIf="animal.child_count === 0">
          <p>{{'THIS ANIMAL HAS NO CHILDREN' | translate }}</p>
        </div>

        <div class="row" *ngIf="displayChildren && !isLoadingChildren">
          <div class="large-12 columns">

            <pagination-controls (pageChange)="childrenPage = $event"></pagination-controls>

            <div class="large-6 columns info-body" *ngFor="let child of children | paginate: {itemsPerPage: 10, currentPage: childrenPage};">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [offSpring]="true"
                [inputAnimal]="child"
                [mainAnimalGender]="animal.gender"
              >
              </app-animal-details-card>
            </div>

            <pagination-controls (pageChange)="childrenPage = $event"></pagination-controls>
          </div>
        </div>

        <div class="row" *ngIf="isLoadingChildren">
          <div class="large-12 columns">
            <app-page-loading-spinner></app-page-loading-spinner>
          </div>
        </div>

      </div>
    </div>




    <div class="row">
      <div class="large-12 columns">
        <table class="animal-logs">
          <thead>
          <tr>
            <td>{{ 'DATE' | translate }}</td>
            <td>{{ 'EVENT DATE' | translate }}</td>
            <td>{{ 'EVENT' | translate }}</td>
            <td>{{ 'BY' | translate }}</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="logs.length == 0">
            <td colspan="4" class="text-center">{{ 'NO LOGS ARE AVAILABLE' | translate }}</td>
          </tr>
          <tr *ngFor="let log of logs">
            <td>
                            <span *ngIf="log.log_date">
                                {{ stringAsViewDateTime(log.log_date) }}
                            </span>
              <span *ngIf="!log.log_date"> -- </span>
            </td>
            <td>
                            <span *ngIf="log.start_date">
                                {{ stringAsViewDate(log.start_date) }}
                                <span *ngIf="log.end_date">{{ '- ' + stringAsViewDate(log.end_date) }}</span>
                            </span>
              <span *ngIf="!log.start_date"> -- </span>
            </td>
            <td>
                            <span *ngIf="log.action == 'MATE'">
                                {{ 'DECLARED MATE' | translate }}
                            </span>
              <span *ngIf="log.action == 'BIRTH'">
                                {{ 'DECLARED BIRTH' | translate }}
                            </span>
              <span *ngIf="log.action == 'WEIGHT MEASUREMENT KG'">
                                {{ 'DECLARED WEIGHT' | translate }}
                                <span *ngIf="log.data"> ({{log.data}}kg)</span>
                            </span>
              <span *ngIf="log.action == 'ARRIVAL FROM UBN'">
                                {{ 'DECLARED ARRIVAL' | translate }}
                                <span *ngIf="log.data"> ({{'PREVIOUS OWNER' | translate}}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'IMPORT FROM'">
                                {{ 'DECLARED IMPORT' | translate }}
                                <span *ngIf="log.data"> ({{'COUNTRY ORIGIN' | translate}}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'DEPARTURE TO UBN'">
                                {{ 'DECLARED DEPART' | translate }}
                                <span *ngIf="log.data"> ({{'NEW OWNER' | translate }}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'EXPORT'">
                                {{ 'DECLARED EXPORT' | translate }}
                            </span>
              <span *ngIf="log.action == 'LOSS'">
                                {{ 'DECLARED LOSS' | translate }}
                            </span>
              <span *ngIf="log.action == 'TAG REPLACE REPLACED ULN'">
                                {{ 'DECLARED TAG REPLACE' | translate }}
                                <span *ngIf="log.data"> ({{'OLD TAG' | translate }}: {{log.data}})</span>
                            </span>
            </td>
            <td>
              {{ log.first_name + ' ' + log.last_name }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #changeButton>
  <button type="button" *ngIf="!edit_mode" [disabled]="!changeEnabled" (click)="toggleEditMode()"
          class="tiny primary button">
                    <span *ngIf="isLoading">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
    <span *ngIf="!isLoading">
                        {{ 'CHANGE' | translate }}
                    </span>
  </button>

  <button type="button" *ngIf="edit_mode" (click)="toggleEditMode()" class="tiny alert button pull-right">{{ 'CANCEL' |
    translate }}
  </button>
  <button type="button" *ngIf="edit_mode" (click)="sendChangeRequest()" class="tiny primary button pull-right">{{ 'SAVE'
    | translate }}
  </button>

</ng-template>
