<div class="detail-container">

  <div class="row">
    <div class="large-1 medium-1 small-3 columns">
      <button type="button" (click)="goBack()" class="tiny primary button">{{ 'GO BACK' | translate }}</button>
    </div>

    <div class="large-7 medium-3 hide-for-small-only columns" style="color:transparent">
      <span> - </span>
    </div>

    <div class="large-2 medium-3 small-6 columns">
            <span class="pull-right">
                <app-download-button
                  [extraDisabledCriteria]="isAnyEditModeActive()"
                  [labelText]="'LINEAGE PROOF CSV'"
                  [includeDownloadIcon]="true"
                  [fontSize]="'10px'"
                  (click)="generateLineageProof('CSV')"
                ></app-download-button>
            </span>
    </div>

    <div class="large-2 medium-3 small-6 columns">
            <span class="pull-right">
                <app-download-button
                  [extraDisabledCriteria]="isAnyEditModeActive()"
                  [labelText]="'LINEAGE PROOF PDF'"
                  [includeDownloadIcon]="true"
                  [fontSize]="'10px'"
                  (click)="generateLineageProof('PDF')"
                ></app-download-button>
            </span>
    </div>

  </div>

  <div class="row" *ngIf="isLoading">
    <div class="medium-12 columns">
      <app-page-loading-spinner></app-page-loading-spinner>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading">
    <div class="medium-6 columns">

      <!-- ANIMAL DETAIL -->
      <div class="info-container">
        <div class="info-header">
          {{ 'ANIMAL DETAIL' | translate }} <span class="extra-info">{{animalDetailHeaderExtraInfo()}}</span>
        </div>
        <div class="info-body">

          <!-- ULN -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'ULN' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.uln" [disabled]="true">
            </div>
          </div>

          <!-- PEDIGREE NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'PEDIGREE NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <div class="uid-input-group">
                <select [(ngModel)]="animal.pedigree_country_code" ngControl="pedigree_country_code" [disabled]="true">
                  <option value="{{ animal.pedigree_country_code }}">{{ animal.pedigree_country_code }}</option>
                </select>
                <input type="text" [(ngModel)]="animal.pedigree_number" ngControl="pedigree_number" [disabled]="true">
              </div>
            </div>
          </div>

          <!-- NICKNAME -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'NICKNAME' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.nickname" [disabled]="!nickname_edit_mode">
            </div>
          </div>
          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="nickname_edit_mode" (click)="toggleNicknameEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="nickname_edit_mode" (click)="sendNicknameChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!nickname_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleNicknameEditMode()"
                      class="tiny primary button pull-right"
              >
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

          <!-- WORK NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'WORK NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.work_number" [disabled]="true">
            </div>
          </div>

          <!-- COLLAR NUMBER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'COLLAR NUMBER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <div class="uid-input-group">
                <select [(ngModel)]="animal.collar.color" [disabled]="!collar_edit_mode">
                  <option value=""></option>
                  <option *ngFor="let collar of collar_color_list" value="{{ collar.name }}">{{ collar.name }}</option>
                </select>
                <input type="text" [(ngModel)]="animal.collar.number" [disabled]="!collar_edit_mode" maxlength="4">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="collar_edit_mode" (click)="toggleCollarEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="collar_edit_mode" (click)="sendGeneralChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!collar_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleCollarEditMode()"
                      class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

          <!-- DATE OF BIRTH -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'DATE OF BIRTH' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.date_of_birth" [disabled]="true">
            </div>
          </div>

          <!-- COUNTRY OF BIRTH -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'COUNTRY OF BIRTH' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.country_of_birth" [disabled]="true">
            </div>
          </div>

          <!-- GENDER -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'GENDER' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <select [(ngModel)]="animal.gender" [disabled]="!gender_edit_mode">
                <option *ngFor="let option of livestock_gender_options" [value]="option">{{ option | translate }}
                </option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="gender_edit_mode" (click)="toggleGenderEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="gender_edit_mode" (click)="sendGenderChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!gender_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleGenderEditMode()"
                      class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

          <!-- LITTER SIZE -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'BORN AS' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [ngModel]="animal.litter_size" disabled>
            </div>
          </div>

          <!-- SUCKLE COUNT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'SUCKLE COUNT' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [ngModel]="animal.suckle_count" disabled>
            </div>
          </div>

          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'PRODUCTION' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" disabled value="{{ animal.production }}">
            </div>
          </div>

          <!-- REARING -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'REARING' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.rearing.label" [disabled]="true">
            </div>
          </div>
          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <app-rearing-selector-modal
               [isLoading]="false"
               [disabled]="!changeEnabled || isAnyEditModeActive()"
               [rearing]="animal.rearing"
               [motherUln]="motherAnimal?.uln"
               [childUln]="animal?.uln"
               (rearingChange)="updateRearing($event)"
              ></app-rearing-selector-modal>
            </div>
          </div>

          <!-- BLIND FACTOR -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'BLIND FACTOR' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <select
                style="width: 8.5rem"
                [(ngModel)]="animal.blindness_factor" [disabled]="!blindness_factor_edit_mode">
                <option value=""></option>
                <option *ngFor="let blindness_factor_type of blindness_factor_types" value="{{ blindness_factor_type }}">{{ blindness_factor_type | translate }}</option>
              </select>
            </div>
          </div>
          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="blindness_factor_edit_mode" (click)="toggleBlindnessFactorEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="blindness_factor_edit_mode" (click)="sendGeneralChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!blindness_factor_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleBlindnessFactorEditMode()"
                      class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

          <!-- SCRAPIE GENOTYPE -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'SCRAPIE GENOTYPE' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scrapie_genotype" [disabled]="true">
            </div>
          </div>

          <!-- INBREEDING COEFFICIENT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle">{{ 'INBREEDING COEFFICIENT' | translate }}</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.inbreeding_coefficient" [disabled]="true">
            </div>
          </div>

        </div>
      </div>

      <!-- MEASUREMENTS -->
      <div class="info-container">
        <div class="info-header">
          <div class="col12">
            {{ 'MEASUREMENTS' | translate }}
            <span class="hide-for-small-only">
                            | {{ 'LAST UPDATED' | translate }}:
                            <span *ngIf="animal.scan_measurements.measurement_date"> {{ stringAsViewDateTime(animal.scan_measurements.measurement_date) }} </span>
                            <span *ngIf="!animal.scan_measurements.measurement_date"> --/--/---- --:-- </span>
                        </span>
          </div>
        </div>
        <div class="info-body">

          <!-- FAT COVER 1 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 1 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scan_measurements.fat_cover_one" [disabled]="true">
            </div>
          </div>

          <!-- FAT COVER 2 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 2 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scan_measurements.fat_cover_two" [disabled]="true">
            </div>
          </div>

          <!-- FAT COVER 3 -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'FAT COVER' | translate }} 3 </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scan_measurements.fat_cover_three" [disabled]="true">
            </div>
          </div>

          <!-- MUSCULAR THICKNESS -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'MUSCULAR THICKNESS' | translate }} </label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scan_measurements.muscular_thickness" [disabled]="true">
            </div>
          </div>

          <!-- SCAN WEIGHT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'SCAN WEIGHT' | translate }} (kg)</label>
            </div>
            <div class="medium-6 columns">
              <input type="text" [(ngModel)]="animal.scan_measurements.scan_weight" [disabled]="true">
            </div>
          </div>

          <hr *ngIf="birth_measurements_edit_mode">

          <!-- BIRTH WEIGHT -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'BIRTH WEIGHT' | translate }} (kg)</label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [(ngModel)]="animal.birth.birth_weight" [disabled]="!birth_measurements_edit_mode"
                     min="0" max="9.9" step="0.1">
            </div>
          </div>

          <!-- BIRTH PROGRESS -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'BIRTH PROGRESS' | translate }} </label>
            </div>
            <div class="medium-6 columns">
              <select
                style="width: 15.7rem"
                [(ngModel)]="animal.birth.birth_progress" [disabled]="!birth_measurements_edit_mode">
                <option value=""></option>
                <option *ngFor="let birth_progress of birth_progress_types" value="{{ birth_progress }}">{{ birth_progress | translate }}</option>
              </select>
            </div>
          </div>

          <!-- TAIL LENGTH -->
          <div class="row">
            <div class="medium-6 columns">
              <label class="middle"> {{ 'TAIL LENGTH' | translate }} {{ '(CM)' | translate }} </label>
            </div>
            <div class="medium-6 columns">
              <input type="number" [(ngModel)]="animal.birth.tail_length" [disabled]="!birth_measurements_edit_mode"
                     min="0" max="30" step="0.01"
              >
            </div>
          </div>

          <div class="row" *ngIf="changeEnabled && isAdmin">
            <div class="medium-offset-6 medium-6 columns end">
              <button type="button" *ngIf="birth_measurements_edit_mode" (click)="toggleBirthMeasurementsEditMode()"
                      class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
              </button>
              <button type="button" *ngIf="birth_measurements_edit_mode" (click)="sendBirthMeasurementsChangeRequest()"
                      class="tiny primary button pull-right">{{ 'SAVE' | translate }}
              </button>
              <button type="button" *ngIf="!birth_measurements_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleBirthMeasurementsEditMode()"
                      class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="medium-6 columns">

      <!-- EXTERIOR -->
      <div class="info-container">
        <app-exterior-component
          *ngIf="animal.uln != ''"
          [modificationDisabled]="isAnyEditModeActive()"
          (latestExteriors)="setLatestExteriors($event)"
          [uln]="animal.uln"
          [exteriors]="animal.exteriors"
        ></app-exterior-component>

        <!-- PREDICATES AND STATUSES -->
        <div class="info-container">
          <div class="info-header">
            {{ 'PREDICATES AND STATUSES' | translate }}
          </div>
          <div class="info-body">

            <!-- RACE -->
            <div class="row">
              <div class="medium-6 columns">
                <label class="middle">{{ 'RACE CODE' | translate }}</label>
              </div>
              <div class="medium-6 columns">
                <input type="text" [(ngModel)]="animal.breed" [disabled]="true">
              </div>
            </div>

            <!-- PREDICATE -->
            <div class="row">
              <div class="medium-6 columns">
                <label class="middle">{{ 'PREDICATE' | translate }}</label>
              </div>
              <div class="medium-6 columns">
                <div class="uid-input-group">
                  <select [(ngModel)]="animal.predicate_details.type" [disabled]="!predicate_edit_mode">
                    <option value=""></option>
                    <option *ngFor="let predicate_type of predicate_types" value="{{ predicate_type }}">{{ predicate_type | translate }}</option>
                  </select>
                  <input type="number" [(ngModel)]="animal.predicate_details.score" [disabled]="!predicate_edit_mode"
                         min="13" max="999" step="1">
                </div>
              </div>
            </div>
            <div class="row" *ngIf="changeEnabled && isAdmin">
              <div class="medium-offset-6 medium-6 columns end">
                <button type="button" *ngIf="predicate_edit_mode" (click)="togglePredicateEditMode()"
                        class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
                </button>
                <button type="button" *ngIf="predicate_edit_mode" (click)="sendGeneralChangeRequest()"
                        class="tiny primary button pull-right">{{ 'SAVE' | translate }}
                </button>
                <button type="button" *ngIf="!predicate_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="togglePredicateEditMode()"
                        class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                  <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
                </button>
              </div>
            </div>


            <!-- STATUS -->
            <div class="row">
              <div class="medium-6 columns">
                <label class="middle">{{ 'STATUS SLASH CLASS' | translate }}</label>
              </div>
              <div class="medium-6 columns">
                <select
                  style="width: 9.3rem"
                  [(ngModel)]="animal.breed_type" [disabled]="!breed_type_edit_mode">
                  <option value=""></option>
                  <option *ngFor="let option of livestock_breed_options" value="{{ option }}">{{ option | translate }}</option>
                </select>
              </div>
            </div>
            <div class="row" *ngIf="changeEnabled && isAdmin">
              <div class="medium-offset-6 medium-6 columns end">
                <button type="button" *ngIf="breed_type_edit_mode" (click)="toggleBreedTypeEditMode()"
                        class="tiny alert button pull-right">{{ 'CANCEL' | translate }}
                </button>
                <button type="button" *ngIf="breed_type_edit_mode" (click)="sendGeneralChangeRequest()"
                        class="tiny primary button pull-right">{{ 'SAVE' | translate }}
                </button>
                <button type="button" *ngIf="!breed_type_edit_mode" [disabled]="!changeEnabled || isAnyEditModeActive()" (click)="toggleBreedTypeEditMode()"
                        class="tiny primary button pull-right">
                            <span *ngIf="isLoading">
                                <i class="fa fa-gear fa-spin fa-fw"></i>
                            </span>
                  <span *ngIf="!isLoading">
                                {{ 'CHANGE' | translate }}
                            </span>
                </button>
              </div>
            </div>


          </div>
        </div>

      </div>
    </div>

    <div class="large-12 columns">
      <div class="info-container">
        <div class="info-header">
          <label>
            {{ "PARENTS" | translate }}
          </label>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <span *ngIf="!animalExists(fatherAnimal) && !animalExists(motherAnimal)" class="large-6 columns info-body">
              {{'NO PARENT DATA AVAILABLE' | translate}}
            </span>

            <div *ngIf="animalExists(fatherAnimal)" class="large-6 columns info-body">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [inputAnimal]="fatherAnimal"
                [mainAnimalGender]="'parents'"
              ></app-animal-details-card>
            </div>
            <div *ngIf="animalExists(motherAnimal)" class="large-6 columns info-body">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [inputAnimal]="motherAnimal"
                [mainAnimalGender]="'parents'"
              >
              </app-animal-details-card>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="large-12 columns">
      <div class="info-container">
        <div class="info-header">
          <label>
            {{ "CONTACT" | translate }}
          </label>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <div class="large-6 columns info-body">
              <app-animal-details-contact-card
                [header]="'BREEDER'|translate"
                [location]="animal.breeder"
              ></app-animal-details-contact-card>
            </div>
            <div class="large-6 columns info-body">
              <app-animal-details-contact-card
                [header]="'HOLDER'|translate"
                [location]="animal.holder"
              >
              </app-animal-details-contact-card>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="large-12 columns">

      <div class="info-container">
        <div class="info-header">
          <label>
            {{ 'BREED VALUES' | translate }}
          </label>
        </div>

        <div class="info-body">

          <div class="row" *ngIf="hasBreedValues()">
            <div class="large-8 columns">
              <app-bar-component [data]="breedValueData" [config]="breedValueConfig" [elementId]="breedValueElementId"></app-bar-component>
            </div>
            <div class="large-2 columns end">
              <table class="breed-value-table">
                <tbody>
                <tr>
                  <th></th>
                  <th></th>
                  <th>{{ 'BREED_VALUE_ABBREVIATION'|translate }} / {{ 'ACCURACY_ABBREVIATION'|translate }}</th>
                </tr>
                <tr *ngFor="let breedValue of breedValues">
                  <td><div class="ordinal-box" [ngStyle]="{'background': breedValue.chart_color}">{{ breedValue.ordinal}}</div></td>
                  <td>{{ breedValue.chart_label}}</td>
                  <td class="breed-value-and-accuracy-column">{{ breedValue.prioritize_normalized_values_in_table ? breedValue.normalized_value : breedValue.value}} / {{ breedValue.accuracy}}%</td>
                </tr>

                <tr style="font-style: italic">
                  <td></td>
                  <td>{{ 'EVALUATION DATE'|translate }}</td>
                  <td class="breed-value-and-accuracy-column">{{animal.breed_value_max_generation_date}}</td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div class="row" *ngIf="!hasBreedValues()">
            <div class="large-12 columns align-center">
              <p>{{'THIS ANIMAL HAS NO BREED VALUES' | translate }}</p>
            </div>
          </div>

        </div>
      </div>

    </div>


    <div class="large-12 columns">

      <div class="info-container">
        <div class="info-header">
          <label>
            {{ 'WEIGHTS' | translate }}
          </label>
        </div>

        <div class="info-body">
          <div class="row" *ngIf="hasWeights()">
            <div class="large-12 columns">
              <app-line-component [data]="weightData" [config]="weightConfig" [elementId]="weightElementId"></app-line-component>
            </div>
          </div>

          <div class="row" *ngIf="!hasWeights()">
            <div class="large-12 columns align-center">
              <p>{{'THIS ANIMAL HAS NO WEIGHT MEASUREMENTS' | translate }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="large-12 columns">
      <div class="info-container">
        <div class="info-header">
          <label *ngIf="animal.child_count === 0">{{ "CHILDREN" | translate }}</label>

          <button *ngIf="animal.child_count > 0"
                  class="button expanded" [ngClass]="{'toggled': displayChildren, 'secondary': displayChildren}"
                  (click)="toggleDisplayChildren()"
          >
            <i *ngIf="!displayChildren" class="fa fa-caret-right fa-fw fa-2x" aria-hidden="true"></i>
            <i *ngIf="displayChildren" class="fa fa-caret-down fa-fw fa-2x" aria-hidden="true"></i>
            <span *ngIf="!displayChildren" style="font-size: 1rem"> {{ 'DISPLAY CHILDREN' | translate }} </span>
            <span *ngIf="displayChildren" style="font-size: 1rem"> {{ 'CHILDREN' | translate }} </span>
            <span *ngIf="animal.child_count > 0" class="badge" style="font-size: 0.8rem">{{animal.child_count}}</span>
          </button>
        </div>

        <div class="info-body" *ngIf="animal.child_count === 0">
          <p>{{'THIS ANIMAL HAS NO CHILDREN' | translate }}</p>
        </div>

        <div class="row" *ngIf="displayChildren && !isLoadingChildren">
          <div class="large-12 columns">

            <pagination-controls (pageChange)="childrenPage = $event"></pagination-controls>

            <div class="large-6 columns info-body" *ngFor="let child of children | paginate: {itemsPerPage: 10, currentPage: childrenPage};">
              <app-animal-details-card
                (historyUpdate)="updateHistory($event)"
                [offSpring]="true"
                [inputAnimal]="child"
                [mainAnimalGender]="animal.gender"
              >
              </app-animal-details-card>
            </div>

            <pagination-controls (pageChange)="childrenPage = $event"></pagination-controls>
          </div>
        </div>

        <div class="row" *ngIf="isLoadingChildren">
          <div class="large-12 columns">
            <app-page-loading-spinner></app-page-loading-spinner>
          </div>
        </div>

      </div>
    </div>




    <div class="row">
      <div class="large-12 columns">
        <table class="animal-logs">
          <thead>
          <tr>
            <td>{{ 'DATE' | translate }}</td>
            <td>{{ 'EVENT DATE' | translate }}</td>
            <td>{{ 'EVENT' | translate }}</td>
            <td>{{ 'BY' | translate }}</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="logs.length == 0">
            <td colspan="4" class="text-center">{{ 'NO LOGS ARE AVAILABLE' | translate }}</td>
          </tr>
          <tr *ngFor="let log of logs">
            <td>
                            <span *ngIf="log.log_date">
                                {{ stringAsViewDateTime(log.log_date) }}
                            </span>
              <span *ngIf="!log.log_date"> -- </span>
            </td>
            <td>
                            <span *ngIf="log.start_date">
                                {{ stringAsViewDate(log.start_date) }}
                                <span *ngIf="log.end_date">{{ '- ' + stringAsViewDate(log.end_date) }}</span>
                            </span>
              <span *ngIf="!log.start_date"> -- </span>
            </td>
            <td>
                            <span *ngIf="log.action == 'MATE'">
                                {{ 'DECLARED MATE' | translate }}
                            </span>
              <span *ngIf="log.action == 'BIRTH'">
                                {{ 'DECLARED BIRTH' | translate }}
                            </span>
              <span *ngIf="log.action == 'WEIGHT MEASUREMENT KG'">
                                {{ 'DECLARED WEIGHT' | translate }}
                                <span *ngIf="log.data"> ({{log.data}}kg)</span>
                            </span>
              <span *ngIf="log.action == 'ARRIVAL FROM UBN'">
                                {{ 'DECLARED ARRIVAL' | translate }}
                                <span *ngIf="log.data"> ({{'PREVIOUS OWNER' | translate}}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'IMPORT FROM'">
                                {{ 'DECLARED IMPORT' | translate }}
                                <span *ngIf="log.data"> ({{'COUNTRY ORIGIN' | translate}}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'DEPARTURE TO UBN'">
                                {{ 'DECLARED DEPART' | translate }}
                                <span *ngIf="log.data"> ({{'NEW OWNER' | translate }}: {{log.data}})</span>
                            </span>
              <span *ngIf="log.action == 'EXPORT'">
                                {{ 'DECLARED EXPORT' | translate }}
                            </span>
              <span *ngIf="log.action == 'LOSS'">
                                {{ 'DECLARED LOSS' | translate }}
                            </span>
              <span *ngIf="log.action == 'TAG REPLACE REPLACED ULN'">
                                {{ 'DECLARED TAG REPLACE' | translate }}
                                <span *ngIf="log.data"> ({{'OLD TAG' | translate }}: {{log.data}})</span>
                            </span>
            </td>
            <td>
              {{ log.first_name + ' ' + log.last_name }}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
