<!--SHOW HIDDEN MESSAGE-->
<div class="large-12 table-search">
  <div class="large-2 large-push-10">
    <button (click)="displayHiddenMessages()" [ngClass]="{'toggled': showHiddenMessages}" class="small primary button">
      {{ 'SHOW HIDDEN ERRORS' | translate}}
    </button>
  </div>
</div>

<!--TABLE HEADER-->
<table class="stack errors">
  <thead>
  <tr>
  <th>{{ 'DATE' | translate }}</th>
  <th>{{ 'ULN' | translate }}</th>
  <th>{{ 'PEDIGREE NUMBER' | translate }}</th>
  <th>{{ 'DEPART DATE' | translate }}</th>
  <th>{{ 'REASON OF DEPART' | translate }}</th>
  <th>{{ 'UBN NEW OWNER' | translate }}</th>
  <th *ngIf="false">{{ 'CERTIFICATE NUMBER' | translate }}</th>
  <th>{{ 'ERROR CODE' | translate }}</th>
  <th></th>
  </tr>
  </thead>
  <tbody>
  <tr app-depart-error-row
    *ngFor="let depart of departErrorList | hiddenMessagesFilter:[showHiddenMessages] | paginate: {itemsPerPage: 10, currentPage: page}; let i = index"
    (removeDepart)="removeDepart($event)" [depart]="depart" [depart_index]="i"></tr>
  </tbody>
</table>

<div *ngIf="isLoading" class="data-loader">
  <app-page-loading-spinner></app-page-loading-spinner>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>
