<!--TABLE SEARCH-->
<div class="large-12 table-search">
  <div class="large-2 large-push-10">
    <input type="text" [(ngModel)]="searchValue" maxlength="20" placeholder="{{ 'SEARCH' | translate }}">
  </div>
</div>

<!--TABLE HEADER-->
<table class="stack">
  <thead>
  <tr>
    <th>{{ 'DATE' | translate }}</th>
    <th>{{ 'ULN' | translate }}</th>
    <th>{{ 'PEDIGREE NUMBER' | translate }}</th>
    <th>{{ 'ARRIVAL DATE' | translate }}</th>
    <th>{{ 'IMPORT' | translate }}</th>
    <th>{{ 'UBN PREVIOUS OWNER' | translate }}</th>
    <th *ngIf="false">{{ 'CERTIFICATE NUMBER' | translate }}</th>
    <th>{{ 'STATUS' | translate }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr app-arrival-history-row
    *ngFor="let arrival of arrivalHistoryList | arrivalHistoryFilter:[searchValue] | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalArrivalItems}; let i = index"
    (revokeArrival)="selectArrival($event)" (showError)="showError($event)" [arrival]="arrival"
    [arrival_index]="i"></tr>
  </tbody>
</table>

<div *ngIf="isLoading" class="data-loader" style="padding:0;">
  <app-page-loading-spinner></app-page-loading-spinner>
</div>

<pagination-controls (pageChange)="page = $event;getArrivalHistoryList($event)"></pagination-controls>

<!--REVOKE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modal_display}">
  <div class="tiny reveal" [ngStyle]="{'display': modal_display}">
    <div class="modal-header">
      {{ 'REVOKE DECLARATION' | translate }}
      <button type="button" (click)="closeModal()" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REVOKE DECLARATION' | translate }}</div>
    <div class="modal-footer">
      <button class="tiny alert button pull-right" (click)="revokeArrival()">{{ 'REVOKE' | translate}}</button>
      <button class="tiny primary button pull-right" (click)="closeModal()">{{ 'CANCEL' | translate}}</button>
    </div>
  </div>
</div>

<!--ERROR MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': error_modal_display}">
  <div class="tiny reveal" [ngStyle]="{'display': error_modal_display}">
    <div class="modal-header">
      {{ 'ERROR' | translate }}
      <button type="button" (click)="closeModal()" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body"> {{ error_message | translate:{value: error_number} }}</div>
    <div class="modal-footer">
      <button class="tiny primary button pull-right" (click)="closeModal()">{{ 'OK' | translate}}</button>
    </div>
  </div>
</div>
