<!--LOG DATE-->
<td>
    <span [hidden]="editMode">
        <label class="show-for-small-only">{{ 'DATE' | translate }}</label>
        {{ stringAsViewDateTime(arrival.log_date) }}
    </span>

  <span [hidden]="!editMode"> <i class="fa fa-pencil" aria-hidden="true"></i> </span>
</td>

<!--ULN-->
<td>
  <label class="show-for-small-only">{{ 'ULN' | translate }}</label>
  {{ arrival.uln_country_code + arrival.uln_number }}
</td>

<!--PEDIGREE-->
<td>
  <label class="show-for-small-only">{{ 'PEDIGREE NUMBER' | translate }}</label>
  <span *ngIf="(arrival.pedigree_country_code && arrival.pedigree_number)">
        {{ arrival.pedigree_country_code + arrival.pedigree_number }}
    </span>
  <span *ngIf="!(arrival.pedigree_country_code && arrival.pedigree_number)">
        --
    </span>
</td>

<!--ARRIVAL DATE-->
<td>
  <label class="show-for-small-only">{{ 'ARRIVAL DATE' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.arrival_date }}</span>
  <form [hidden]="!editMode" #form="ngForm">
        <app-datepicker  [formCtrl]="form.controls['arrival_date']" [initDate]="arrival.arrival_date"
                    [viewFormat]="view_date_format" [modelFormat]="model_datetime_format"></app-datepicker>
        <div [hidden]="form.controls['arrival_date'].valid || form_valid" class="input-error-msg text-center">{{ 'FILL IN THE ARRIVAL DATE' | translate }}</div>
    </form>
</td>

<!--IMPORT ANIMAL FLAG-->
<td>
  <label class="show-for-small-only">{{ 'IMPORT' | translate }}</label>
  <i *ngIf="arrival.is_import_animal" class="fa fa-check text-success"></i>
  <i *ngIf="!arrival.is_import_animal" class="fa fa-times text-danger"></i>
</td>

<!--UBN PREVIOUS OWNER-->
<td>
  <label class="show-for-small-only">{{ 'UBN PREVIOUS OWNER' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.ubn_previous_owner }}</span>
  <form [hidden]="!editMode" #form="ngForm">
        <input type="text" *ngIf="!arrival.is_import_animal" [(ngModel)]="arrival.ubn_previous_owner"
               ngControl="ubn_previous_owner">
        <div [hidden]="form.controls['ubn_previous_owner'].valid || form_valid" class="input-error-msg text-center">{{ 'UBN IS INVALID' | translate }}</div>
    </form>
</td>

<!--CERTIFICATE NUMBER-->
<td *ngIf="false">
  <label class="show-for-small-only">{{ 'CERTIFICATE NUMBER' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.certificate_number }}</span>
  <form [hidden]="!editMode" #form="ngForm">
        <input type="text" *ngIf="arrival.is_import_animal" [(ngModel)]="arrival.certificate_number"
               ngControl="certificate_number">
    </form>
</td>

<!--STATUS-->
<td>
  <label class="show-for-small-only">{{ 'STATUS' | translate }}</label>
  <span [hidden]="editMode" [ngSwitch]="arrival.request_state">
        <template ngSwitchWhen="OPEN"> {{ 'PROCESSING' | translate }} </template>
        <template ngSwitchWhen="REVOKING"> {{ 'PROCESSING' | translate }} </template>
        <template ngSwitchWhen="FINISHED"> {{ 'SENT' | translate }} </template>
        <template ngSwitchWhen="FINISHED_WITH_WARNING"> {{ 'SENT' | translate }} <app-history-error-info
          [historyResponse]="arrival"></app-history-error-info></template>
        <template ngSwitchWhen="REVOKED"> {{ 'REVOKED' | translate }} </template>
    </span>
</td>

<!--ROW BUTTONS-->
<td>
    <span
      [hidden]="editMode || arrival.request_state == 'OPEN' || arrival.request_state == 'REVOKING' || arrival.request_state == 'REVOKED'">
        <button *ngIf="false" class="tiny primary button" (click)="enableEditing()">{{ 'EDIT' | translate }}</button>
        <app-revoke-button [isActive]="arrival.message_number" (click)="sendRevokeRequest()"></app-revoke-button>
    </span>

  <span [hidden]="!editMode">
        <button class="tiny primary button" (click)="sendChangeRequest()">{{ 'SEND' | translate }}</button>
        <button class="tiny alert button" (click)="cancelEditing()">{{ 'CANCEL' | translate }}</button>
    </span>
</td>
