<div class="row">
  <div class="large-6 columns">
    <div class="info-container">
      <div class="info-header">
        {{ 'COMPANY INFO' | translate }}
        <span class="pull-right"> {{ 'FIELDS WITH A * ARE MANDATORY' | translate }} </span>
      </div>
      <div class="info-body">

        <!-- UBN -->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'UBN_SHORT' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input type="text" [(ngModel)]="company.ubn" disabled>
          </div>
        </div>

        <!-- BRS NUMBER -->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'BRS NUMBER' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input type="text" [(ngModel)]="company.company_relation_number" maxlength="20" disabled>
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="saveCompanyInfo()">

          <!-- COMPANY NAME -->
          <div class="form-group">
            <div class="row">
              <div class="large-6 columns">
                <label class="middle"> {{ 'COMPANY NAME' | translate }} * </label>
              </div>
              <div class="large-6 columns">
                <input
                  formControlName="company_name"
                  type="text"
                  id="company_name"
                  [ngClass]="{'input-error-border': form.get('company_name').invalid && form.invalid}">
              </div>
            </div>
          </div>

          <!-- TELEPHONE -->
          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'TELEPHONE NUMBER' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="telephone_number"
                id="telephone_number"
                type="text"
                [ngClass]="{'input-error-border': form.get('telephone_number').invalid && form.invalid}"
                maxlength="12">
            </div>
          </div>
          </div>

          <!-- BTW NUMBER -->
          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'BTW NUMBER' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="vat_number"
                id="vat_number"
                type="text"
                [ngClass]="{'input-error-border': form.get('vat_number').invalid && form.invalid}"
                maxlength="18">
            </div>
          </div>
          </div>

          <!-- KVK NUMBER -->
          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'KVK NUMBER' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="chamber_of_commerce_number"
                id="chamber_of_commerce_number"
                type="text"
                [ngClass]="{'input-error-border': form.get('chamber_of_commerce_number').invalid && form.invalid}"
                maxlength="15">
            </div>
          </div>
          </div>

          <!-- HISTORIC ANIMALS -->
          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'MAKE LIVESTOCK PUBLIC' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <select
                formControlName="is_reveal_historic_animals"
                id="is_reveal_historic_animals"
                [ngClass]="{'input-error-border': form.get('is_reveal_historic_animals').invalid && form.invalid}"
              >
                <option [value]="false">{{ 'NO' | translate}}</option>
                <option [value]="true">{{ 'YES' | translate}}</option>
              </select>
            </div>
          </div>
          </div>

          <!-- CONTACT PERSON -->
          <div class="form-group">
            <div class="row">
            <div class="large-12 columns">
              <label class="category bottom"> {{ 'CONTACT PERSON' | translate }} </label>
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'FIRST NAME' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="first_name"
                id="first_name"
                type="text"
                [ngClass]="{'input-error-border': form.get('first_name').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'LAST NAME' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="last_name"
                id="last_name"
                type="text"
                [ngClass]="{'input-error-border': form.get('last_name').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'CELLPHONE NUMBER' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="cellphone_number"
                id="cellphone_number"
                type="text"
                [ngClass]="{'input-error-border': form.get('cellphone_number').invalid && form.invalid}"
                maxlength="12">
            </div>
          </div>
          </div>

          <!-- ADDRESS -->
          <div class="form-group">
            <div class="row">
            <div class="large-12 columns">
              <label class="category bottom"> {{ 'ADDRESS' | translate }} </label>
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NAME' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="address_street_name"
                id="address_street_name"
                type="text"
                [ngClass]="{'input-error-border': form.get('address_street_name').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NUMBER' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="address_address_number"
                id="address_address_number"
                type="number"
                [ngClass]="{'input-error-border': form.get('address_address_number').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NUMBER SUFFIX' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="address_suffix"
                id="address_suffix"
                type="text"
                [ngClass]="{'input-error-border': form.get('address_suffix').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="large-6 columns">
                <label class="middle"> {{ 'POSTAL CODE' | translate }} * </label>
              </div>
              <div class="large-6 columns">
                <input
                  formControlName="address_postal_code"
                  id="address_postal_code"
                  type="text"
                  [ngClass]="{'input-error-border': form.get('address_postal_code').invalid && form.invalid}"
                  maxlength="6">
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'PLACE' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="address_city"
                id="address_city"
                type="text"
                [ngClass]="{'input-error-border': form.get('address_city').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STATE' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <select
                formControlName="address_state"
                id="address_state"
                [ngClass]="{'input-error-border': form.get('address_state').invalid && form.invalid}"
              >
                <option value="">--</option>
                <option *ngFor="let state of stateList" value="{{ state.code }}">{{ state.name }}</option>
              </select>
            </div>
          </div>
          </div>

          <!-- BILLING ADDRESS -->
          <div class="form-group">
            <div class="row">
            <div class="large-12 columns">
              <label class="category bottom"> {{ 'BILLING ADDRESS' | translate }} </label>
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NAME' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="billing_address_street_name"
                id="billing_address_street_name"
                type="text"
                [ngClass]="{'input-error-border': form.get('billing_address_street_name').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NUMBER' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="billing_address_address_number"
                id="billing_address_address_number"
                type="number"
                [ngClass]="{'input-error-border': form.get('billing_address_address_number').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'STREET NUMBER SUFFIX' | translate }} </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="billing_address_suffix"
                id="billing_address_suffix"
                type="text"
                ngControl="billing_address_suffix"
                [ngClass]="{'input-error-border': form.get('billing_address_suffix').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'POSTAL CODE' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="billing_address_postal_code"
                id="billing_address_postal_code"
                type="text"
                [ngClass]="{'input-error-border': form.get('billing_address_postal_code').invalid && form.invalid}"
                maxlength="6"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
            <div class="large-6 columns">
              <label class="middle"> {{ 'PLACE' | translate }} * </label>
            </div>
            <div class="large-6 columns">
              <input
                formControlName="billing_address_city"
                id="billing_address_city"
                type="text"
                [ngClass]="{'input-error-border': form.get('billing_address_city').invalid && form.invalid}"
              >
            </div>
          </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="large-6 columns">
                <label class="middle"> {{ 'STATE' | translate }} </label>
              </div>
              <div class="large-6 columns">
                <select
                  formControlName="billing_address_state"
                  id="billing_address_state"
                  [ngClass]="{'input-error-border': form.get('billing_address_state').invalid && form.invalid}"
                >
                  <option value="">--</option>
                  <option *ngFor="let state of stateList" value="{{ state.code }}">{{ state.name }}</option>
                </select>
              </div>
            </div>
          </div>

          <span *ngIf="form.invalid" class="input-error-msg">{{ 'FILL IN THE MANDATORY FIELDS' | translate }}</span>

          <span>
              <div class="large-2 end pull-right">
                <app-button-primary
                  type="submit"
                  [text]="'SAVE'"
                  [spinnerText]="'SAVING'"
                  [active]="!in_progress && !form.invalid"
                  [isSpinning]="in_progress"
                ></app-button-primary>

                <!--<button-->
                    <!--mat-raised-button-->
                    <!--class="primary"-->
                    <!--color="primary"-->
                    <!--type="submit"-->
                    <!--[disabled]="in_progress || form.invalid"-->
                  <!--&gt;-->
                      <!--<span *ngIf="!in_progress">-->
                          <!--{{ 'SAVE' | translate | uppercase }}-->
                      <!--</span>-->
                      <!--<span *ngIf="in_progress">-->
                          <!--<i class="fa fa-gear fa-spin fa-fw"></i>-->
                      <!--</span>-->
                  <!--</button>-->
              </div>
          </span>


        </form>
      </div>
    </div>

  </div>

  <div class="large-6 columns end">
    <div *ngIf="false" class="info-container">
      <div class="info-header">
        {{ 'VETERINARIAN INFO' | translate }}
      </div>
      <div class="info-body">

        <!-- VETERINARIAN DAP NUMBER -->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'DAP NUMBER' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input
              formControlName="veterinarian_dap_number"
              id="veterinarian_dap_number"
              type="text"
              [ngClass]="{'input-error-border': form.get('veterinarian_dap_number').invalid && form.invalid}"
            >
          </div>
        </div>

        <!-- VETERINARIAN NAME-->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'NAME' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input
              formControlName="veterinarian_company_name"
              id="veterinarian_company_name"
              type="text"
              [ngClass]="{'input-error-border': form.get('veterinarian_company_name').invalid && form.invalid}"
            >
          </div>
        </div>

        <!-- VETERINARIAN TELEPHONE -->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'TELEPHONE NUMBER' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input
              formControlName="veterinarian_telephone_number"
              id="veterinarian_telephone_number"
              type="text"
              [ngClass]="{'input-error-border': form.get('veterinarian_telephone_number').invalid && form.invalid}"
              maxlength="12"
            >
          </div>
        </div>

        <!-- VETERINARIAN EMAIL -->
        <div class="row">
          <div class="large-6 columns">
            <label class="middle"> {{ 'E-MAIL ADDRESS' | translate }} </label>
          </div>
          <div class="large-6 columns">
            <input
              formControlName="veterinarian_email_address"
              id="veterinarian_email_address"
              type="email"
              [ngClass]="{'input-error-border': form.get('veterinarian_email_address').invalid && form.invalid}"
            >
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
