<div class="large-12 table-search">
  <div class="large-2 large-push-10">
    <input type="text" [(ngModel)]="searchValue" maxlength="20" placeholder="{{ 'SEARCH' | translate }}">
  </div>
</div>

<div class="row" *ngIf="isLoading">
  <div class="medium-12 columns">
    <app-page-loading-spinner></app-page-loading-spinner>
  </div>
</div>

<div *ngIf="!isLoading">

  <table class="stack confirmation">
    <thead>
    <tr>
    <th>{{'CREATED AT' | translate}}</th>
    <th>{{'START DATE' | translate }}</th>
    <th>{{'END DATE' | translate }}</th>
    <th>{{'DESCRIPTION' | translate}}</th>
    <th>{{ 'DUTCH TYPE' | translate }}</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr app-treatment-history-row
      *ngFor="let treatment of treatmentHistoryList | treatmentHistoryFilter: searchValue | paginate: {itemsPerPage: 10, currentPage: page};"
      (revokeTreatment)="selectTreatment($event)" (showError)="showError($event)" [treatment]="treatment"></tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="page = $event"></pagination-controls>

</div>

<!--REVOKE MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': modal_display}">
  <div class="tiny reveal" [ngStyle]="{'display': modal_display}">
    <div class="modal-header">
      {{ 'REVOKE DECLARATION' | translate }}
      <button type="button" (click)="closeModal()" [disabled]="isSending" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body"> {{ 'ARE YOU SURE YOU WANT TO REVOKE DECLARATION' | translate }}</div>
    <div class="modal-footer">
            <span class="pull-right">
                <button class="tiny alert button" (click)="revokeTreatment()" [disabled]="isSending">
                    <span *ngIf="!isSending">
                        {{ 'REVOKE' | translate}}
                    </span>
                    <span *ngIf="isSending">
                        <i class="fa fa-gear fa-spin fa-fw"></i>
                    </span>
                </button>
                <button class="tiny primary button" (click)="closeModal()" [disabled]="isSending">{{ 'CANCEL' | translate}}</button>
            </span>
    </div>
  </div>
</div>

<!--ERROR MODAL-->
<div class="reveal-overlay" [ngStyle]="{'display': errorModalDisplay}">
  <div class="tiny reveal" [ngStyle]="{'display': errorModalDisplay}">
    <div class="modal-header">
      {{ 'ERROR' | translate }}
      <button type="button" (click)="closeErrorModal()" class="pull-right" aria-label="Close modal">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let errorMessage of errorMessages">
          {{ errorMessage.message | translate }}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="tiny primary button pull-right" (click)="closeErrorModal()">{{ 'OK' | translate}}</button>
    </div>
  </div>
</div>
