<!--LOG DATE-->
<td>
    <span [hidden]="editMode">
        <label class="show-for-small-only">{{ 'DATE' | translate }}</label>
        {{ stringAsViewDateTime(arrival.log_date) }}
    </span>

  <span [hidden]="!editMode"> <i class="fa fa-pencil" aria-hidden="true"></i> </span>
</td>

<!--ULN-->
<td>
  <label class="show-for-small-only">{{ 'ULN' | translate }}</label>
  {{ arrival.uln_country_code + arrival.uln_number }}
</td>

<!--PEDIGREE-->
<td>
  <label class="show-for-small-only">{{ 'PEDIGREE NUMBER' | translate }}</label>
  <span *ngIf="(arrival.pedigree_country_code && arrival.pedigree_number)">
        {{ arrival.pedigree_country_code + arrival.pedigree_number }}
    </span>
  <span *ngIf="!(arrival.pedigree_country_code && arrival.pedigree_number)">
        --
    </span>
</td>

<!--ARRIVAL DATE-->
<td>
  <label class="show-for-small-only">{{ 'ARRIVAL DATE' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.arrival_date }}</span>
        <app-datepicker  [formCtrl]="form.controls['arrival_date']" [initDate]="arrival.arrival_date"
                    [viewFormat]="view_date_format" [modelFormat]="model_datetime_format"></app-datepicker>
        <div [hidden]="form.controls['arrival_date'].valid || form_valid" class="input-error-msg text-center">{{ 'FILL IN THE ARRIVAL DATE' | translate }}</div>
</td>

<!--IMPORT ANIMAL FLAG-->
<td>
  <label class="show-for-small-only">{{ 'IMPORT' | translate }}</label>
  <i *ngIf="arrival.is_import_animal" class="fa fa-check text-success"></i>
  <i *ngIf="!arrival.is_import_animal" class="fa fa-times text-danger"></i>
</td>

<!--UBN PREVIOUS OWNER-->
<td>
  <label class="show-for-small-only">{{ 'UBN PREVIOUS OWNER' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.ubn_previous_owner }}</span>
        <input type="text" *ngIf="!arrival.is_import_animal" [(ngModel)]="arrival.ubn_previous_owner"
               ngControl="ubn_previous_owner">
        <div [hidden]="form.controls['ubn_previous_owner'].valid || form_valid" class="input-error-msg text-center">{{ 'UBN IS INVALID' | translate }}</div>
</td>

<!--CERTIFICATE NUMBER-->
<td *ngIf="false">
  <label class="show-for-small-only">{{ 'CERTIFICATE NUMBER' | translate }}</label>
  <span [hidden]="editMode">{{ arrival.certificate_number }}</span>
        <input type="text" *ngIf="arrival.is_import_animal" [(ngModel)]="arrival.certificate_number"
               ngControl="certificate_number">
</td>


<!--ERROR CODE-->
<td>
  <label class="show-for-small-only">{{ 'ERROR CODE' | translate }}</label>
  <span [hidden]="editMode" id="error-{{ arrival_index }}" data-tooltip aria-haspopup="true" class="has-tip top"
        data-disable-hover="false" title="{{ arrival.error_message }}">
        {{ arrival.error_code }}
    </span>
</td>

<!--ROW BUTTONS-->
<td>
    <span [hidden]="editMode">
        <button *ngIf="false" class="tiny primary button" (click)="enableEditing()">{{ 'REVISE' | translate }}</button>
        <button *ngIf="!arrival.is_removed_by_user" class="tiny alert button" (click)="sendRemoveErrorRequest()">{{ 'DONT SHOW' | translate }}</button>
        <button *ngIf="arrival.is_removed_by_user" class="tiny alert button" disabled>{{ 'HIDDEN' | translate}}</button>
    </span>

  <span [hidden]="!editMode">
        <button class="tiny primary button" (click)="sendChangeRequest()">{{ 'SEND' | translate }}</button>
        <button class="tiny alert button" (click)="cancelEditing()">{{ 'CANCEL' | translate }}</button>
    </span>
</td>
