/* You can add global styles to this file, and also import other style files */
@import '../src/assets/sass/main.sass'

@import '../src/assets/sass/material.sass'
//@import "~@angular/material/prebuilt-themes/indigo-pink.css"

.reveal-overlay
  .fa-times
    position: absolute
    right: 10px
    top: 10px

