<div class="page-header">
  <div class="page-title">{{ 'INVOICE OVERVIEW' | translate }}</div>
</div>
<div class="row">
  <div class="row table-options-container">
    <div class="large-2 columns">
      <label>
        {{ 'INVOICES' | translate }}
        <select [(ngModel)]="status" (change)="page = 1">
          <option value="ALL">{{ 'ALL' | translate }}</option>
          <option value="UNPAID INVOICES">{{ 'UNPAID INVOICES' | translate }}</option>
          <option value="PAID INVOICES">{{'PAID INVOICES' | translate}}</option>
        </select>
      </label>
    </div>
    <div class="large-2 columns">
      <label>
        {{ 'SEARCH' | translate }}
        <input type="text" [(ngModel)]="filterSearch" (keydown)="page = 1" placeholder="{{ 'SEARCH' | translate }}"
               maxlength="50">
      </label>
    </div>
    <div class="large-2 columns end">
      <label>
        {{ 'DISPLAY AMOUNT' | translate }}
        <select [(ngModel)]="filterAmount" (change)="page = 1">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
        </select>
      </label>
    </div>
  </div>
  <table class="stack invoice-overview">
    <thead>
    <tr>
      <td>
        {{ 'INVOICE NUMBER' | translate }}
      </td>
      <td>
        {{ 'INVOICE DATE' | translate }}
      </td>
      <td>
        {{ 'STATUS' | translate }}
      </td>
      <td>
        {{ 'ACTIONS' | translate }}
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="!isLoaded">
      <td colspan="10">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </td>
    </tr>
    <tr
      *ngFor="let invoice of twinfieldInvoices.rows | invoiceFilter:[filterSearch, status] | invoiceSort | paginate: {itemsPerPage: filterAmount, currentPage: page}">
      <td>
                <span *ngIf="invoice.cells[3].value">
                    {{ invoice.cells[3].value }}
                </span>
                <span *ngIf="!invoice.cells[3].value">
                    --
                </span>
      </td>
      <td>
                <span class="primary label" *ngIf="invoice.cells[4].value">
                    {{ settings.convertToViewDate(invoice.cells[4].value) }}
                </span>
      </td>
      <td>
                <span *ngIf="invoice.cells[6].value == 'available'" class="alert label">
                    {{ 'UNPAID' | translate }}
                </span>
                <span *ngIf="invoice.cells[6].value == 'proposed'" class="alert label">
                    {{ 'PAYMENT CANCELLED' | translate }}
                </span>
                <span *ngIf="invoice.cells[6].value == 'matched'" class="success label">
                    {{ 'PAID' | translate }}
                </span>
      </td>
      <td>
                <span class="pull-left">
                    <button [disabled]="invoice.status == 'PAID'" type="button" class="small primary button spanned-button"
                            (click)="startInvoicePaymentProcedure(invoice.id, invoice.company_name)">
                        {{'PAY INVOICE' | translate}}
                    </button>
<!--                    <button type="button" class="small primary button spanned-button" (click)="navigateToInvoiceView(invoice.id)">-->
<!--                        {{ 'VIEW' | translate }}-->
<!--                    </button>-->
<!--                    <button (click)="downloadPdf(invoice)" type="button" class="small primary button spanned-button">-->
<!--                        {{ "DOWNLOAD PDF"| translate }}-->
<!--                    </button>-->
                </span>
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls  (pageChange)="page = $event"></pagination-controls>
</div>
